div {
    width: 400px;
    position: relative;
    left: 40%;
    top: 44px;
    height: 300px;
    
}
mat-card{
    
    height: 240px; 
}
button{
    width: 100%;
}
.example-full-width {
    width: 100%;
  }
