
<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
      </button>
      <h1>MENU</h1>
  
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/"> HOME</a> -->
        <a mat-list-item routerLink="login"> LOGIN FORM</a>
        <a mat-list-item routerLink="register"> REGISTER FORM</a>
      
      </mat-nav-list>
      
    </mat-sidenav>
    <mat-sidenav-content class="image">
      
      <div style="height:88vh;" >
        
        <router-outlet></router-outlet>
  
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  